$primary: #FF6B01;
$white: #FFFCFC;
$gray: #F5F5F5;
$black: #121216;
$light-gray: #B4B4B4;
$middle-gray: #7E7E7E;
$dark-gray: #4D4D4D;
$faint-orange: #F1EBE7;
$ash-gray: #C3C3C3;
$light-orange: #FF8935;